/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, h1, h2, h3, h4, h5, div, a, p, ul, li{
  border: 0;
  padding: 0;
  margin: 0;
}

body {
  font-family: monospace;
}

header {
  padding: 20px 0;
}

ul {
  list-style: none;
}

.group:after {
  display: block;
  content: "";
  clear: both;
}

.group > li {
  float: left;
}

.table-name {
  width: 140px;
}

.table-attribute {
  width: 80px;
}

.table-long {
  width: 480px;
}

.header-link {
  padding: 0 20px;
}

